@charset "utf-8";
/* CSS Document */

.body{width: 1200px;margin: 0 auto;}/*网页居中*/
		
.contain{background-color: hsla(0,4%,95%,0.76);width: auto;margin-left: 0%;margin-right: 0%}/*定义网页背景*/

*{list-style: none;margin:0;padding:0;}

a:link {color:lavender;text-decoration: none;}/*点击前的状态*/

a:hover{color:cornflowerblue;}/*鼠标移动端链接时候的状态*/

a:visited{color: aliceblue;}/*鼠标点击后的状态*/

a:active{color:lavender;}

.top{position: fixed;color:darkgrey;padding-left: 30px;width:1170px;
	height: 40px;background-color:#272424;}/*导航栏属性*/

.top li{line-height: 40px;width: 188px;float:left;}/*导航栏属性*/

.top ul li ul li{background-color:#272424;border-top: 1px solid #fff;text-align: center;}

.top ul li{position: relative;}

.top form{line-height: 40px;}

.top ul li ul{position: absolute;left:-60px;}/*二级菜单设置样式结束*/

.top ul li ul{display: none;}/*二级菜单的显示和隐藏开始*/

.top ul li:hover ul{display: block;}/*二级菜单的显示和隐藏结束*/

.TitleLink{ font-family: "微软雅黑";}/*导航栏字体*/

.text{font-family: "楷书";font-size: 15px;letter-spacing: 3px;line-height: 2;text-indent: 2em;text-align: left;
	padding-left: 25px;padding-right: 25px}/*定义文本字体、样式、两侧边距、行距和缩进*/

.remark{font-family:"华文细黑";text-align: center;font-size: 15px; color: hsla(0,0%,49%,1.00)}/*定义提示部分样式*/

.specialLine{text-align: center;}

.table{width: 900px;border: solid 2px;border-collapse: collapse;margin: auto;}/*定义表格样式*/

.th{border: solid 2px;border-collapse: collapse;font-family:"bad-script";font-size: 15px;
	color: hsla(0,0%,49%,1.00)}/*定义表头单元格样式（列）*/
	
.thtop{border: solid 2px;border-collapse: collapse;font-family:"bad-script";}/*定义表头单元格样式（首行）*/

.td{font-family:"bad-script";color: hsla(0,0%,49%,1.00);text-align:center;border: solid 2px;
	border-collapse: collapse;}/*定义单元格样式*/
		
.footertext{font-family:"楷书";text-align: center;font-size: 15px;cursor:default;}/*页脚属性*/

.search{width: 170px;height: 30px;border-radius: 15px;outline: none;border: 1px solid #ccc;
	padding-left: 20px;position: absolute;top: 4px;}
		
.parent {position: relative;}
