@charset "utf-8";
/* CSS Document */

body{width: 1200px;margin: 0 auto;}
		
*{list-style: none;margin:0;padding:0;}

a:link {color:lavender;text-decoration: none;}/*点击前的状态*/

a:hover{color:cornflowerblue;}/*鼠标移动端链接时候的状态*/

a:visited{color: aliceblue;}/*鼠标点击后的状态*/

a:active{color:lavender;}

.top{position: fixed;color:darkgrey;padding-left: 30px;width:1170px;		
	height: 40px;background-color:#272424;z-index:1;}/*导航栏属性*/

.top li{line-height: 40px;width: 188px;float:left;}/*导航栏属性*/

.TitleLink{ font-family: "微软雅黑";}/*导航栏字体*/

.top ul li ul li{background-color:#272424;border-top: 1px solid #fff;text-align: center;}

.top ul li{position: relative;}

.top form{line-height: 40px;}

.top ul li ul{position: absolute;left:-60px;}/*二级菜单设置样式结束*/

.top ul li ul{display: none;}/*二级菜单的显示和隐藏开始*/

.top ul li:hover ul{display: block;}/*二级菜单的显示和隐藏结束*/

.search{width: 170px;height: 30px;border-radius: 15px;outline: none;border: 1px solid #ccc;
	padding-left: 20px;position: absolute;top: 4px;}
	
.parent {position: relative;}

ul li {list-style: none;}

.track-list {margin:0 auto;padding-left: 5px;position: relative;width: 80%;cursor:default;}/*时间线属性*/

.track-list li {padding: 9px 0 0 25px;line-height: 18px;border-left: 3px solid #695C75;
	color:black;font-family: "楷体";cursor:default;}/*时间线属性*/
	
.track-list li .time {margin-right: 20px;position: relative;top: 4px;display: inline-block;
	vertical-align: middle;color: red;font-family: "楷体";font-size:20px;cursor:default;}/*时间线中时间属性*/
	
.track-list li .txt {font-family: "中易宋体"; position: relative;text-indent: 2em;top: 4px;font-size: 15px; display: 
	inline-block;vertical-align: middle;cursor:default;}/*时间线中内容属性*/
	
.Allcontent{background-color: hsla(0,4%,95%,0.76);width: auto;margin-left: 0%;margin-right: 0%}/*全局属性*/

.title{font-size:45px;text-align: center;padding-top:45px;margin: 0 auto;font-family:"楷体";cursor:default;}/*标题属性*/

.remark{color: red;padding-left: 430px; font-size: 30px;cursor:default;}/*副标题属性*/

.footertext{font-family:"楷体";text-align: center;font-size: 15px;}/*页脚属性*/
